@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* body {
  @apply antialiased;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #a1a1aa; 
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #71717a;
} */
